*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root{
    /* --blue-color:#2cbbc3; */
    --orange-color:#f35525;
    --silver-color:#a7b2b9;
    --black-color: rgba(0, 0, 0, 0.87);
    --light-color:#ffeee9;
    --light-gray:#fafafa;
    
}

html,body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* color:red; */
    height: 10000px;
    
}



/*/////////////////////////////////////////////// navbar /////////////////////*/
 .navbar-brand i{
    color:white;font-size: 30px; background-color: rgba(0, 0, 0, 0.87); height: 50px; width: 50px;
    line-height: 50px;border-radius: 50%;text-align: center;
    box-shadow: 1px 1px 10px 2px var(--orange-color);
}



.navbar .navbar-nav .nav-link{  

color: black;
font-size: 18px;

}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color:var(--orange-color);
}

.navbar .navbar-toggler{

    color:var(--orange-color);
    font-size: 25px;
    border-color: var(--orange-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded=true]{
border-color: black;
}




.mainbtn{
    background-color:var(--black-color);
    color:white;
    box-shadow: 1px 1px 10px 1px var(--orange-color) inset;
    padding: .5rem 1rem;
}

.mainbtn:hover{
    color:var(--orange-color);
    box-shadow: 1px 1px 10px 1px var(--light-color) inset;
   
   
}
input[type=search]{
    border-radius: 50px;
    size: 100px;
    /* width: 50% !important; */
}

input[type=search]:focus{
    box-shadow: none;
    border: 0.5px solid var(--silver-color);
}


.dropdown-menu .dropdown-item:hover{
    background-color: var(--orange-color);
    color: white;
}


.navbar .search{
    border-left: 1px solid var(--orange-color);
}



/*/////////////////////////////////////////////// navbar /////////////////////*/

/*//////////////////////////////// Landing carousel ///////////////////////////////////////////////////////////////////*/


.landing{
    /* min-height: calc(100vh-72px); */
}

.carousel-caption{
    /* bottom: 6.25rem !important; */
}

.text-center{
/* position: absolute; */
background-color: #f35525;
top:100px;
}


.carousel-item img{
height: 750px;
    
   
}

.carousel-indicators button[type=button]

{
background-color: var(--orange-color);
}

.carousel-indicators button[type=button]:hover,.carousel-indicators button[type=button].active{
    background-color: white;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: var(--silver-color);
    color:white;
    
    font-size: 20px;
    padding: 20px;
    
}



.carousel-inner .carousel-caption{
    /* position: absolute; */
    background-color:rgba(167, 178, 185, 0.50);
    text-align: center;
    border-radius: 15px;
  

}

.carousel-caption h2{
    font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #fff; */
  
 

}

.carousel-item button{
   box-shadow: none;
    background-color: white;
    color: var(--orange-color);
    width: 140px;
    font-weight: bold;
    padding: .5rem 1rem;
    letter-spacing: 1px;
}
.carousel-item button:hover{
    box-shadow: 0 0px 5px 1px white;
    background-color: transparent ;
    color: white;

}
/*//////////////////////////////// Landing carousel ///////////////////////////////////////////////////////////////////*/

.welcome{
    box-shadow: 0px 1px 10px 5px silver;
}
.welcome h2{
    color: var(--orange-color);
    letter-spacing: 1px;
}
.welcome button{
    background-color: var(--black-color);
    color: white;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    position: relative;
    
}
.welcome button:hover{
    color: var(--orange-color);
}

.welcome a{
    background-color:var(--black-color);
    
    height: 50px;
    
    padding: .25rem 1rem 1rem .25rem;
    letter-spacing: 1px;
   
}


/* .welcome button::after{
    position: absolute;
    content:"Schedule a visit ";
    color: white;
    top: 25%;
    letter-spacing: 1px;
   
} */

.welcome a i {
    background-color:var(--orange-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
   
} 