*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root{
    --blue-color:#2cbbc3;
    --orange-color:#f35525;
    /* --orange-color:#c19d5f; */
    --silver-color:#a7b2b9;
    --black-color: rgba(0, 0, 0, 0.87);
    --light-color:#ffeee9;
    --light-gray:#fafafa;
    
}

html,body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* color:red; */
    height: 10000px;
    
}




/*/////////////////////////////////////////////// navbar /////////////////////*/
 .navbar-brand i{
    color:white;font-size: 30px; background-color: rgba(0, 0, 0, 0.87); height: 50px; width: 50px;
    line-height: 50px;border-radius: 50%;text-align: center;
    /* box-shadow: 1px 1px 10px 2px var(--blue-color); */
}



.navbar .navbar-nav .nav-link{  

color: black;
font-size: 18px;

}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color:var(--orange-color);
}

.navbar .navbar-toggler{

    color:var(--orange-color);
    font-size: 25px;
    border-color: var(--orange-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded=true]{
border-color: black;
}




.mainbtn{
    background-color:var(--black-color);
    background-color: var(--blue-color);
    /* color:var(--orange-color); */
    color: #fff !important;
    /* box-shadow: 1px 1px 10px 1px var(--orange-color); */
    padding: .5rem 1rem;  font-weight: bold;
}

.mainbtn:hover{
    
    box-shadow: 1px 1px 10px 1px var(--light-color) inset ;
  

   
}
input[type=search]{
    border-radius: 50px;
    size: 100px;
    /* width: 50% !important; */
}

input[type=search]:focus{
    box-shadow: none;
    border: 0.5px solid var(--silver-color);
}


.dropdown-menu .dropdown-item:hover{
    background-color: var(--orange-color);
    color: white;
}


.navbar .search{
    border-left: 1px solid var(--orange-color);
}



/*/////////////////////////////////////////////// navbar /////////////////////*/

/*//////////////////////////////// Landing carousel ///////////////////////////////////////////////////////////////////*/








.carousel-item img{
height: 750px;
border-radius: 5px; 
   
}

.carousel-indicators button[type=button]

{
background-color: var(--orange-color);
}

.carousel-indicators button[type=button]:hover,.carousel-indicators button[type=button].active{
    background-color: white;
    
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: var(--silver-color);
    color:white;
    
    font-size: 20px;
    padding: 20px;
    
}



.carousel-inner .carousel-caption{
    /* position: absolute; */
    background-color:rgba(167, 178, 185, 0.50);
    text-align: center;
    border-radius: 15px;
  

}

.carousel-caption h2{
    font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  
  
 

}

.carousel-item button{
    box-shadow: 0 0px 5px 1px white;
    background-color: transparent;
    color: white;
    width: 140px;
    font-weight: bold;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    border: 0;
}
.carousel-item button:hover{
    /* box-shadow: 0 0px 5px 1px var(--orange-color) inset; */
    background-color: white ;
    color: var(--orange-color);
    border: 0;
    
}
/*//////////////////////////////// Landing carousel ///////////////////////////////////////////////////////////////////*/

.welcome{
    /* box-shadow: 0px 1px 10px 5px silver; */
    border-radius: 50px 50px 5px 5px !important;
   
  
   
}
.welcome h2{
    color: var(--orange-color);
    /* letter-spacing: 1px; */
    font-size: 2rem;
    
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
    
    
   
position: relative;
}
/* .welcome h2::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 100%;
    top: 0;
    left:0;
    background-color: var(--black-color);
} */
.welcome button{
    background-color: var(--black-color);
    color: white;
    padding: .5rem 1rem;
    letter-spacing: 1px;
    position: relative;
    
}
.welcome button:hover{
    color: var(--orange-color);
}

.welcome a{
    background-color:var(--black-color);
    height: 50px;
    padding: .25rem 1rem 1rem .25rem;
    letter-spacing: 1px;
}

.welcome a:hover{
    color: var(--orange-color)!important;
    /* background-color:#c19d5f ; */
}

.welcome a i {
    background-color:var(--orange-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
   color: white!important;
} 
.welcome-img img{
   
 /* transform: skewX(10deg); */
 box-shadow:  -12px 0 2px 5px #45949F;
 transition: .5s;
 
}
.welcome-img img:hover{
    transform: translateX(10px);
    transition: .5s;
}
.welcome-title{
    /* box-shadow:  12px 6px 2px 5px #45949F; */
}

.nn{
    border: 1px solid red;
}
    /* background-color: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgba(97,84,199,1) 66.666%, rgba(255,255,255,0) 99.999%); */


    
.nn1{
    background-color: #2cbbc3!important;
    border-color: white !important;
    margin-top: 150px !important; 
    padding-left: 0px !important;
    width: 15px;
    height:15px;
    transform: rotate(45deg);
    /* border-radius: 50%; */
    margin-right: 2px;
}

/*/////////////////////////////////////////////////////////////////////////////// activity start///////////////////////////////////////// */

.activity{
    box-shadow: 0px 1px 10px 5px silver;
    /* border: 1px solid red; */
    height: 500px;
    /* overflow:hidden; */
    border-top-right-radius: 50px !important;
    /* border-top-left-radius: 50px !important; */
    /* background-color: #fff; */
}

.activity-header h6{
color: var(--orange-color);
}
/*/////////////////////////////////////////////////////////////////////////////// accordion ///////////////////////////////////////////////////////////*/

.card,.card-header{
    background-color: #fff;
}

.accordion-header button{
    color: var(--orange-color) !important;
    background-color: #fff;
    position: relative;
    width: 100%;
    
}

.accordion-header button:active,.accordion-header button:hover,.accordion-header button:focus{
    background-color: var(--light-gray);
    color:var(--orange-color);
    box-shadow: none;
}


.accordion-header button[aria-expanded=false]::after{
    content: '\002B' !important;
    width: 35px;
    height:35px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    right: 3px;
    top:7px;
    position: absolute;
    background-color: var(--light-color);
    color: var(--blue-color);
transition: .5s;
background: none!important;
background-color: var(--light-color)!important;
}

.accordion-header button[aria-expanded=true]::after{
    content: '\2212'!important;
    width: 35px;
    height:35px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    right: 3px;
    top:7px;
    position: absolute;
    background-color: var(--light-color);
    color: var(--blue-color);
    transition: .5s;
    background: none!important;
    background-color: var(--light-color)!important;
}

.accordion-header button[aria-expanded=false]::before{
content:'' ;
width: 15px;
height: 15px;
position: absolute;
background-color: white;

z-index: 1;
transform: rotate(45deg);
left:30px;
top: 40px;

}


.accordion-header button:active,.accordion-header button:hover,.accordion-header button btn:focus{
    background-color: var(--light-gray);
    color:var(--orange-color);
    box-shadow: none;
}

.card-header .collapsed btn[aria-expanded=true]{
    /* color:var(--silver-color); */
    background-color: var(--light-color);
}


.activity-img{
  height: 500px;
    /* width: 700px; */
    background: url(../images/villa/video-frame.jpg);
    background-size: cover;
    background-position: center;
    /* box-shadow: 0px 1px 10px 5px silver; */
    /* border-top-right-radius: 50px !important; */
    border-top-left-radius: 50px !important;
  
    
}
/*/////////////////////////////////////////////////////////////////////////////// activity end///////////////////////////////////////// */

/*////////////////////////////////////////////////////////////////////////////////// wide-img1 start//////////////////////////////////// */
.wide-img1{
   
    height: 500px;
    background: url(../images/villa/Living2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px 1px 10px 5px silver;
    position: relative;
}

.wide-img1 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
   
    top: 0;
    left:0;
}
.mm{
    background-color:rgba(167, 178, 185, 0.50);
    text-align: center;
    border-radius: 15px;
}

.wide-img1 .overlay .row .card .ss{
backdrop-filter: blur(5px) saturate(180%)!important;
    -webkit-backdrop-filter: blur(5px) saturate(180%)!important; */
    background-color: var(--light-color)!important;
     border-radius: var(--border-radius-medium)!important;
    border: 1px solid rgba(209, 213, 219, 0.3)!important;
    border-radius: var(--border-radius-medium)!important;
}
form button{
    background-color: #2cbbc3 !important;
    color: #fff !important;
}
/*////////////////////////////////////////////////////////////////////////////////// wide-img1 end//////////////////////////////////// */

/*/////////////////////////////////////////////////////////////////////////////// 3div-pop-up start//////////////////////////////////// */


.popup-img button{
    background-color: var(--blue-color);
    /* color:#fff; */
}
.popup-img button:hover{
   
    color: #fff !important;
    transition: .5s!important;
    
}

/*/////////////////////////////////////////////////////////////////////////////// 3div-pop-up end//////////////////////////////////// */

/*////////////////////////////////////////////////////////////////////////////////// wide-img2 start//////////////////////////////////// */

.wide-img2{
    
position: relative;
box-shadow: 0px 1px 10px 5px silver; 
height: 500px;
background: url(../images/villa/2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.wide-img2 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
   
    top: 0;
    left:0;
}
.wide-img2 .overlay button:hover{
background-color: transparent !important;

 border-color: #f35525 !important; 

transition: .5s;
}


/*////////////////////////////////////////////////////////////////////////////////// wide-img2 end//////////////////////////////////// */

/*////////////////////////////////////////////////////////////////////////// sticky-vertical-divStrat////////////////////////////////// */


.sticky-vertical{
    width:100px;
    height: 300px;
    position: fixed;
    z-index: 120;
   right:5px;
   top: 200px;
    
    
    
}


 .list-unstyled li i {
   
    height: 50px;
    width: 50px;
     border-radius: 50%;
     background-color:var(--orange-color) ;
    font-size: 30px;
    color: var(--light-color);
    line-height: 50px;
    box-shadow: 0px 2px 5px 2px silver ;
    cursor: pointer;
    text-align: center;
    
    /* padding: 6px 10px !important; */

}

.list-unstyled li i:hover{
    color: white;
    box-shadow: 0px -2px 5px 2px silver ;
    transition: .5s;
}


/*////////////////////////////////////////////////////////////////////////// sticky-vertical-divEnd////////////////////////////////// */

